<div *ngIf="families">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Family</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
         <p>Are you sure you want to delete the {{families.naziv}} family?</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteFamilies(families)" *ngIf="families.id">Delete</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancle</button>
      </div>
    
</div>