.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ECE5D3;
    
}

.card h1 
    {
    color: #ffffff;
    font-style: normal;
    font-size: 40px;
    color: black;
}
.card h6{
    color: #ffffff;
    font-style: normal;
    font-size: 15px;
    color: black;
}

label{
    color: #fff;
    font-style: normal;
    font-size: 15px;
    color: black;
}