<div class="container">
<div class="center" style="overflow-x:auto;">
  <div class="addButton">
    <h1 style="color:aliceblue;">Game of thrones families</h1>
    <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="createNewFamily()">Create new family</button>
  </div>
  <table class="table table" >
      <thead>
          <tr class="table-active">
              <th scope="col">ID</th>
              <th scope="col">Naziv</th>
              <th scope="col">Predstavnik</th>
              <th scope="col">Grb</th>
              <th scope="col">Edit</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let family of families">
              <td>{{family.id}}</td>
              <td>{{family.naziv}}</td>
              <td>{{family.predstavnik}}</td>
              <td>{{family.grb}}</td>
              <td><button (click)="editFamily(family)" type="button" class="btn btn-primary me-1">Edit</button>
              <button (click)="deleteFamily(family)" type="button" class="btn btn-danger">Delete</button></td>
          </tr>
      </tbody>
  </table>
  </div> 
</div>
