.container{
    background-color: black;
}
.center{
    margin-top: 40px;
}
.center .addButton button{
    margin-bottom: 10px;
    float: right;
    
}

.center .table {
    background-color: #dab600;
}